services:
  crawl4ai:
    image: unclecode/crawl4ai:latest
    ports:
      - "11235:11235"
    environment:
      - CRAWL4AI_API_TOKEN=${CRAWL4AI_API_TOKEN:-}

  web_search:
    build: .
    ports:
      - "3000:3000"
    environment:
      - CRAWL4AI_URL=http://crawl4ai:11235
      - PORT=3000
    env_file:
      - .env.local
    depends_on:
      - crawl4ai
